<div class="mt-4 flex items-center space-x-4">
    <input type="text" id="searchInputPvd" placeholder="กรอกรหัสสินค้า หรือ ชื่อสินค้า" 
    class="w-full p-2 border border-gray-300 rounded" onkeyup="searchProductsPvd()">

    <select id="categoryDropdown" class="bg-blue-600 text-white px-4 py-2 rounded" onclick="searchProductsPvd()">
        <option value="" selected disabled>หมวดหมู่</option>
        <% Object.entries(categories).forEach(([categoryID, category]) => { %>
            <optgroup label="<%= category.categoryName %>">
                <% Object.entries(category.subCategories).forEach(([subID, subName]) => { %>
                    <option value="<%= categoryID %><%= subID %>"><%= subName %></option>
                <% }); %>
            </optgroup>
        <% }); %>
    </select>
</div>
<div id="searchResultsPvd" class="mt-2 border border-gray-300 bg-white w-full max-w-lg absolute z-10 hidden">
    <ul class="max-h-60 overflow-y-auto">
        <% product.forEach(function(item) { %>
            <li class="border-b p-2 hover:bg-gray-100 cursor-pointer" 
                data-id="<%= item.productID %>" 
                data-name="<%= item.productName %>" 
                data-price="<%= item.price %>" 
                data-brand="<%= item.brand %>" 
                data-description="<%= item.description %>">
                <%= item.productID %> : <%= item.productName %>
            </li>
        <% }); %>
    </ul>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        let categoryDropdown = document.getElementById('categoryDropdown');
        let searchInputPvd = document.getElementById('searchInputPvd');
        
        categoryDropdown.addEventListener('change', function() {
            let selectedValue = this.value;
            searchInputPvd.value = selectedValue;
        });
    });
</script>
<!-- <div class="mt-4 flex items-center space-x-4">
    <input type="text" placeholder="กรอกรหัสสินค้า หรือ ชื่อสินค้า" class="w-full p-2 border border-gray-300 rounded">
    <div class="relative">
        <button class="bg-blue-600 text-white px-4 py-2 rounded" onclick="toggleCategoryDropdown()">หมวดหมู่</button>
        <div id="categoryDropdown" class="absolute bg-white border mt-2 hidden w-full">
            <p class="p-2 cursor-pointer hover:bg-blue-100">ทั้งหมด</p>
            <p class="p-2 cursor-pointer hover:bg-blue-100">ห้องนอน</p>
            <p class="p-2 cursor-pointer hover:bg-blue-100">ห้องนั่งเล่น</p>
            <p class="p-2 cursor-pointer hover:bg-blue-100">ห้องครัว</p>
            <p class="p-2 cursor-pointer hover:bg-blue-100">ห้องรับประทานอาหาร</p>
            <p class="p-2 cursor-pointer hover:bg-blue-100">ห้องทำงาน</p>
        </div>
    </div>
    <button class="bg-black text-white px-4 py-2 rounded">ค้นหา</button>
</div> -->