<!-- userCanceledOrders.ejs -->
<!DOCTYPE html>
<html lang="th">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>รายการที่ถูกยกเลิก | FINFUR</title>
    <link rel="icon" type="image/png" href="/images/logo_main.png">
    <link rel="stylesheet" href="/public/style.css">
    <!-- Tailwind CSS CDN -->
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = { darkMode: 'class' }; // ใช้ dark mode ผ่าน class
    </script>
</head>
<body class="bg-gray-100 dark:bg-gray-900">
    <div id="navbarContainer">
        <div id="defaultNavbar">
            <%- include('partials/narbar') %>
        </div>
        <div id="searchNavbar" style="display: none;">
            <%- include('partials/narbar_search') %>
        </div>
    </div>

<div class="flex max-w-5xl mx-auto mt-10 bg-white shadow-lg rounded-lg">
    <%- include('partials/aside_for_user') %>
    
    <div class="flex w-full mx-auto mt-10 bg-white shadow-lg rounded-lg">
        
        <div class="w-3/4 p-5">
            <h2 class="text-xl font-bold mb-4">รายการที่ถูกยกเลิก</h2>
            <%- include('partials/menu_for_user_history') %>

            <%- include('partials/db_userOrderHistory') %>
        </div>
    </div>
</body>
</html>
